@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary">Welcome to VoltGear Systems ⚡</h1>

    <p class="lead mt-3">
        Smart Laptop Inventory Management using MongoDB
    </p>

    <a asp-page="/Laptops" class="btn btn-success btn-lg mt-4">
        📊 View Inventory
    </a>
</div>