.mydiv {
        text-align: center;
        margin: 200px;
        padding: 100px;
        border: 2px solid red;
        border-radius: 50px;
        background-color: lightblue;
      }
      p {
        color: blue;
      }
      table {
        border-collapse: collapse;
        margin-left: 50px;
      }
      td,
      th {
        border: 2px solid blue;
        padding: 15px 15px 15px 15px;
      }