@{
    ViewData["Title"] = "Courses";
}

<h2>Available Courses</h2>

<ul>
    <li>
        <a href="https://learn.microsoft.com/aspnet/core/mvc" target="_blank">
            ASP.NET Core MVC
        </a>
    </li>
    <li>
        <a href="https://developer.mozilla.org/en-US/docs/Learn" target="_blank">
            Web Development
        </a>
    </li>
    <li>
        <a href="https://www.geeksforgeeks.org/dbms/" target="_blank">
            Database Management Systems
        </a>
    </li>
</ul>


