@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-primary text-white">Welcome To QuickLoan</h1>
    <a class="btn btn-primary" href="Loan/Index" role="button">Loan List</a>
</div>
