@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Corporate Pulse Portal</h2>
    <a class="btn btn-dark" href="Emps/showList" role="button">Show Employee Data</a>
</div>
